<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1: Wednesday 2/14</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td>Instructor: Rajendra Maharjan</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>09:00 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/">Unix Shell</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td>Instructor: Vitor Pavinato</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:00 pm</td>        <!-- time    -->
        <td>Lunch Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>01:00 pm</td>        <!-- time    -->
        <td>Version Control with Git, continued</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>02:00 pm</td>        <!-- time    -->
        <td>End of Day 1</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2: Thursday 2/15</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td>Instructor: John Odiegwu</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>09:00 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/01-run-quit.html">Running and Quitting</a></td>
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/02-variables.html">Variables and Assignment</a></td>
      </tr>
      <tr>               <!-- row 1   -->
        <td></td>   
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/03-types-conversion.html">Data Type and Type Conversion</a></td>
      </tr>
      <tr>               <!-- row 1   -->
        <td></td> 
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/04-built-in.html">Built in Functions and Help</a></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td>Instructor: Stacey Borrego</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 1   -->
        <td>11:00 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/06-libraries.html">Libraries</a></td> 
      </tr>
      <tr>               <!-- row 1   -->
        <td></td> 
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/07-reading-tabular.html">Reading Tabular Data</td>
      </tr>
      <tr>               <!-- row 1   -->
        <td>12:00 pm</td>        <!-- time    -->
        <td>Lunch Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>01:00 pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/08-data-frames.html">Pandas Dataframes</td> 
      </tr>
      <tr>               <!-- row 1   -->
        <td></td> 
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/09-plotting.html">Plotting</td>
      </tr>
    </table>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3: Friday 2/16</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
