<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1: Wednesday 2/14</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>Instructor</td>        <!-- time    -->
        <td>Rajendra Maharjan</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>09:00 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/">Unix Shell</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>Instructor</td>        <!-- time    -->
        <td>Vitor Pavinato</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:00 pm</td>        <!-- time    -->
        <td>Lunch Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>01:00 pm</td>        <!-- time    -->
        <td>Version Control with Git, continued</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>02:00 pm</td>        <!-- time    -->
        <td>End of Day 1</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2: Thursday 2/15</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3: Friday 2/16</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
